<div class="container__bar-bottom">
    <div class="socials"> 
        <h3>SOCIAL</h3>
        <ul class="social__icons">
            <li>
                <a href="facebook.com">
                    <img 
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-plain.svg" 
                    height="30px"
                    alt="" 
                    > 
                </a>   Facebook
            </li>
            <li>
                <a href="linkedin.com">
                    <img 
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" 
                    height="30px"
                    alt=""> 
                </a>   Linkedin
            </li>
            <li>
                <a href="github.com">
                    <img 
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" 
                    height="30px"
                    alt=""> 
                </a>   Github
            </li>
        </ul>
    </div>
    <div class="FAQ">
        <h3>SOBRE NÓS</h3>
        <ul>
            <li><a href="">Contato</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
    </div>  
    <div class="newsletter">
        <h3>NEWSLETTER</h3>
        <form class="cadastro">
            <label class="label_news">
                <input class="insc" placeholder="Digite seu e-mail">       
                <p class="aviso">Marque esta caixa para receber nossa newsletter  <input class="check" type="checkbox" name="newsletter" value="1"></p>
                <button type="submit" id=btn class="btn">Inscreva-se</button>
            </label>
        </form>
    </div>
</div>