<div class="container__big-card">
    <div class="big-card__photo">
        <img
            src="https://www.camara.leg.br/midias/image/2023/01/lira-e-lula-2.jpg"
            alt=""
            height="300px"
            srcset=""
        >
        </div>
    <div class="big-card__title">
        <h1><a href="#">Câmara e Senado fazem entrega simbólica a Lula de decreto de intervenção na segurança do DF</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lira afirma que a aprovação da intervenção demonstra uma unidade da Federação numa linguagem única em defesa da democracia
            Fonte: Agência Câmara de Notícias
            </a>
        </p>
    </div>
</div>
