.container__menu-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    align-items: center;
}

.container__menu-title > h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}

.container__menu-title > hr {
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 50%;
}
.container__menu-title > img {
    margin-left: 1rem;
}

.logo {
    border-radius: 50%;
}