<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img
                src="https://static.portaldaindustria.com.br/portaldaindustria/noticias/media/imagem_plugin/dam_du9uIau.jpg"
                alt="" 
                height="130px"           
                srcset=""
            >
            </div>
        <div class="small-card__title">
            <h1><a href="#">Câmara e Senado fazem entrega simbólica a Lula de decreto de intervenção na segurança do DF</a></h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr>
    </div>
    
</div>
