<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__article">
    <div class="article__main">
        <app-big-card 
        photoCover="https://www.camara.leg.br/midias/image/2023/01/lira-e-lula-2.jpg"
        cardTitle="Bolsonaro é acusado  de articular ato golpista"
        cardDescription="Provas são encontradas. Relatório que previa mudar o resultado das eleições é encontrado dentro do quarto de seu ex ministro."
        ></app-big-card>
    </div>
    <div class="others">
       <app-small-card></app-small-card>
       <app-small-card></app-small-card>
       <app-small-card></app-small-card> 
    </div>
</div>