* {
    background-color: transparent;
}

.container__article { 
    display: flex;
    flex-direction: row;
    justify-content: center;


    background: linear-gradient(160deg, rgba(27,27,27,0), rgba(27,27,27,1)),#3c3c3c;


    border-top: 1px solid #fff;
    border-top-right-radius: 1px solid #fff;
    border-bottom-left-radius: 1px solid #fff;
    border-radius: 20px;


    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.last_news {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-weight: 500;
}


